# Dependencies
node_modules

# Build output
dist

# OS specific
.DS_Store

# Editor
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

.idea/

# Yarn
yarn-error.log
yarn-cache

# Test coverage
coverage/*
